{
    "plugins": [
        ["prismjs", {
            "languages": [
                "markup",
                "javascript",
                "css",
                "bash",
                "c",
                "csharp",
                "cpp",
                "docker",
                "git",
                "java",
                "json",
                "jsx",
                "markdown",
                "php",
                "powershell",
                "python",
                "scss",
                "sql",
                "vim"
            ],
            "theme": "okaidia",
            "css": true
        }]
    ]
}
