.CodeMirror, .CodeMirror-scroll {
    min-height: 900px;
}

.editor-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 51px;
    z-index: $zindex-sticky;
    background-color: white;
    border-bottom: 1px solid #bbb;
    opacity: initial;

    @include hover {
        opacity: initial;
    }
}
